@import "./partials/_common.scss";
@import "./partials/_variables.scss";

body{
    font-family: sans-serif;
}

.centralized-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}